[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

requests = "*"
flask = "*"
gunicorn = "*"
redis = "*"
dnspython = "*"
flask_cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
