<!DOCTYPE html>
<html>
<head>
<style>
table { border-collapse: collapse; width: 800px; }

th, td { text-align: left; padding: 8px; width: 400px; }

tr:nth-child(even) {background-color: #f2f2f2;}

body { font-family: arial; }

h1 { font-family: arial; font-size: 24px }

h2 { font-family: arial; font-size: 18px }
</style>
</head>


<table class="TFtable">
<tr>
    <th><h1>SparkPost Bouncy Sink</h1></th>
    <th><img align="right" src="https://raw.githubusercontent.com/tuck1s/sparkpost-traffic-gen/master/SparkPost_App-Icon_180x180.png" alt="SparkPost app icon" width="60" height="60" caption="false" /></th>
</tr>
</table>

<h2>Results</h2>
<table class="TFtable">
<tr> <td>Started running</td> <td>{{startedRunning}}</td></tr>
</table>

<p><em>Get this data in JSON format from <a href="{{jsonUrl}}"<pre>{{jsonUrl}}</pre></a>
</html>