<!DOCTYPE html>
<html>
<head>
<style>
body { font-family: arial; }
table { width: 800px; }
p { width: 800px }

h1 { font-family: arial; font-size: 24px }
h2 { font-family: arial; font-size: 18px }

td { text-align: left; padding: 8px; }
td.descr {width: 60%}
tr:nth-child(even) {background-color: #f2f2f2;}

div.chart { width: 800px; height: 400px; }
</style>
</head>

<body>
<script src = "https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['annotatedtimeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var source = '{{thisUrl}}json/ts-messages';
        fetch(source)
        .then(function (response) {
            return response.json();
        })
        .then(function (ps) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Messages per minute');
            var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));

            for (i = 0; i < ps.length; i++) {
                data.addRow( [new Date(ps[i].time), ps[i].messages] );
            }
            chart.draw(data, {displayAnnotations: true});
        })
        .catch(function (err) {
            console.log(err);
        });
    }
</script>

<table>
<tr>
    <td><img align="left" src="https://raw.githubusercontent.com/sparkpost/bouncy-sink/master/src/SparkPost_App-Icon_180x180.png" alt="SparkPost app icon" width="60" height="60" caption="false" /></td>
    <td><h1 align="center">SparkPost Bouncy Sink</h1></td>
    <td><img align="right" src="https://raw.githubusercontent.com/sparkpost/bouncy-sink/master/src/bouncy_sink_App-Icon_180x180.png" alt="SparkPost app icon" width="60" height="60" caption="false" /></td>
</tr>
</table>

<h2>Performance</h2>
<div id='chart_div' class='chart'></div>

<table>
    <tr><td class="descr">consume-mail processes (current)</td> <td>{{processes}}</td></tr>
    <tr><td class="descr">consume-mail processes (max)</td> <td>{{processes_max}}</td></tr>
</table>

<h2>Responses from sink script</h2>
<table>
    <tr><td class="descr">Started running</td> <td>{{startedRunning}}</td></tr>
    <tr><td class="descr">Messages processed</td> <td>{{total_messages}}</td></tr>
    <tr><td class="descr"> - Accepted, not opened</td> <td>{{accept}}</td></tr>
    <tr><td class="descr"> - Opened</td> <td>{{open}}</td></tr>
    <tr><td class="descr"> - Opened a second time</td> <td>{{open_again}}</td></tr>
    <tr><td class="descr"> - Clicked</td> <td>{{click}}</td></tr>
    <tr><td class="descr"> - Clicked a second time</td> <td>{{click_again}}</td></tr>
    <tr><td class="descr">OOB replies successfully sent</td> <td>{{oob_sent}}</td></tr>
    <tr><td class="descr">FBL replies successfully sent</td> <td>{{fbl_sent}}</td></tr>
</table>

<br>
<p>
Only messages processed by the script on the main listener are counted; excludes traffic on the dummy-smtp listener, approx half of the total.
</p>

<h2>Error responses</h2>
<table>
    <tr><td class="descr">DKIM error, inbound mail DKIM header missing or failed</td> <td>{{fail_dkim}}</td></tr>
    <tr><td class="descr">S class="descr"PF error, checks failed</td> <td>{{fail_spf}}</td></tr>
    <tr><td class="descr">OOB error, inbound mail missing Return-Path:</td> <td>{{oob_missing_return_path}}</td></tr>
    <tr><td class="descr">OOB error, inbound mail missing To:</td> <td>{{oob_missing_to}}</td></tr>
    <tr><td class="descr">OOB error, return path not SparkPost</td> <td>{{oob_return_path_not_sparkpost}}</td></tr>
    <tr><td class="descr">OOB error, getting SMTP error response</td> <td>{{oob_smtp_error}}</td></tr>
    <tr><td class="descr">FBL error, inbound mail missing Return-Path:</td> <td>{{fbl_missing_return_path}}</td></tr>
    <tr><td class="descr">FBL error, inbound mail missing To:</td> <td>{{fbl_missing_to}}</td></tr>
    <tr><td class="descr">FBL error, return path not SparkPost</td> <td>{{fbl_return_path_not_sparkpost}}</td></tr>
    <tr><td class="descr">FBL error, getting SMTP error response</td> <td>{{fbl_smtp_error}}</td></tr>
</table>

<h2>Open and click processing</h2>
<table>
    <tr><td class="descr">IMG SRC URLs that are not SparkPost</td> <td>{{open_url_not_sparkpost}}</td></tr>
    <tr><td class="descr">A HREF URLs that are not SparkPost</td> <td>{{click_url_not_sparkpost}}</td></tr>
</table>

<p><em>Get this data in JSON format from <a href="{{thisUrl}}json">{{thisUrl}}json</a></em>
</body>
</html>